
.Titre {
    color: red;
    font-size: 50px;
    text-align: center;
}

.autresTitres {
    color: green;
    font-size: 35px;
}

p {
    font-family: verdana; 
    font-size: 150%;
}

.imagetw {
    width: 15%;
    border: 5px solid red;
    border-radius: 10px;
    padding: 10px;
    margin: 20px; 
    height: 15%;
    background-color: blue;
    
}

table {
    border: 2px red solid; 
    width: 50%; 
    border-collapse: collapse;
    text-align: center;
}

.AgeNom {
    border: 2px red solid;
    width: 25px;
    color: green;
}

.ContenuTableau{
    border: 2px red solid;
    width: 33%
}

.Prenom{
    border: 2px red solid;
    width: 25px;
    color: green;
}

.cercle{
    list-style-type: circle;
}

.carre {
    list-style-type: square;
}

.Exo9{
    background-color: #ff9;
    font-family: verdana;
    color:blue;
    font-size: 20px;
}

.underline {
    color: green
}