/* GLOBAL CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

.logo_a{
    padding: 10px 20px;
    position: absolute;
    top: -5px;
    width: 203px;
    height: 70px;
    border-radius: 30px;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 5px;
    font-weight: 500;
    transition: 0.6s;
    font-family: 'montheavy_demo';
}

@font-face {
    font-family: 'montheavy_demo';
    src: url('https://ezreal72.github.io/POTM/Police/mont-heavydemo-webfont[1].woff2') format('woff2'),
         url('https://ezreal72.github.io/POTM/Police/mont-heavydemo-webfont[1].woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ul li a:hover{
    background-color: #fff;
    color:black;
}

ul li.active a{
    background: #fff;
    color: #000;
}

.principale{
    max-width:114rem;
    margin: 0 auto;
}

.decalage {
    position: absolute;
    left: 25%;
    top: 0px;
}

header{
    padding: 30px;
    width: 100%;
    background-color:#345467;
}


h1 {
    font-size:4rem;
    
}

h2 {
    font-size: 5.7rem;
}

a {
    color:#ffffff;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.5rem;
}

/* Section Contact */

section#contact {
    background: linear-gradient( rgb(0, 0, 0, 0.5),transparent);
    padding: 100px 15px;
    background-size: cover;
    background-position: center;
    background-color: white;
}


section#contact .container {
    max-width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 60px 10px;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: rgb(214 214 214) 0px 10px 50px -10px ;
}

section#contact .container .title {
    text-align: center;
    margin-bottom: 60px;
}
section#contact .container .title h4 {
    font-size: 1.6em ;
    margin-bottom: 10px;
    font-family: 'heavitasregular';
}

@font-face {
    font-family: 'heavitasregular';
    src: url('https://ezreal72.github.io/POTM/Police/heavitas-webfont[1].woff2') format('woff2'),
         url('https://ezreal72.github.io/POTM/Police/heavitas-webfont[1].woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

section#contact .container .title h3 {
    font-size: 3em ;
    margin-bottom: 20px;
    font-family:'Arial';
}

section#contact .container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
}

section#contact .container form input {
    width: 45%;
}
section#contact .container form input:hover,
section#contact .container form textarea:hover {
    border-bottom: 2px solid #345467;
    
}

section#contact .container form input,
section#contact .container form textarea {
    margin: 15px 0;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 2px solid #e4e4ec;
    transition: 0.2s;
    font-family: 'Poppins', sans-serif;
}

section#contact .container form textarea {
    width: 100%;
    resize: none;
    height: 100px;
    margin-bottom: 60px;
}

section#contact .container form button {
    width: 192px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: #345467;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    cursor: pointer;
    margin-top: 30px;
    outline: none;
    margin: 0 auto;
    transition: 0.2s; 
    font-family: 'Poppins', sans-serif;
}

section#contact .container form button:hover {
    transform: translateY(-5px);
    box-shadow: rgb(214 214 214) 0px 10px 40px -5px ;
}

@media screen and (max-width: 885px) {

    html{
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 2rem;
    }
    footer {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    section#contact .container form {
        flex-direction: column;
        width: 95%; 
    }

    section#contact .container form input {
        width: 100%;
    }

    section#contact .container .title h4 {
        font-size: 1.2em ;
        
    }
    
    section#contact .container .title h3 {
        font-size: 3em ;
    }
}

/* Footer */
footer {
    margin: 0;
    padding: 20px;
    background-color:#000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer h3 {
    color: #345467;
    text-align: center;
}

footer p{
    cursor: pointer;
    color: #ccc;
    text-align: center;
    font-size: 15px;
}

footer p:hover {
    color: white;
}
