/* GLOBAL CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}

.logo_a{
    padding: 10px 20px;
    position: absolute;
    top: -5px;
    width: 203px;
    height: 70px;
    border-radius: 30px;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 5px;
    font-weight: 500;
    transition: 0.6s;
}

ul li a:hover{
    background-color: #fff;
    color:black;
}

ul li.active a{
    background: #fff;
    color: #000;
}

.principale{
    max-width:114rem;
    margin: 0 auto;
}

.decalage {
    position: absolute;
    left: 25%;
    top: 0px;
}

header{
    padding: 30px;
    width: 100%;
    background-color:#345467;
}


h1 {
    font-size:4rem;
    
}

h2 {
    font-size: 5.7rem;
}

a {
    color:#ffffff;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.5rem;
}

section#goty {
    background: linear-gradient( rgb(0, 0, 0, 0.5),transparent), url('/images/network-6511448_1920.jpg');
    padding: 100px 15px;
    background-size: cover;
    background-position: center;
    background-color: white;
}